<div class="employees-container">
    <h2 class="table-title">Employees</h2>
    
    <!-- Filters -->
    <div class="filters-container">
        <div class="filter-group">
            <label for="nameFilter">Search by Name:</label>
            <input 
                id="nameFilter"
                type="text" 
                [(ngModel)]="nameFilter" 
                (ngModelChange)="applyFilters()"
                placeholder="Search by first or last name">
        </div>

        <div class="filter-group">
            <label for="departmentFilter">Filter by Department:</label>
            <select 
                id="departmentFilter"
                [(ngModel)]="departmentFilter" 
                (ngModelChange)="applyFilters()">
                <option value="">All Departments</option>
                <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
            </select>
        </div>

        <div class="filter-group">
            <label for="cityFilter">Filter by City:</label>
            <select 
                id="cityFilter"
                [(ngModel)]="cityFilter" 
                (ngModelChange)="applyFilters()">
                <option value="">All Cities</option>
                <option *ngFor="let city of cities" [value]="city">{{city}}</option>
            </select>
        </div>

        <button class="clear-filters" (click)="clearFilters()">Clear Filters</button>
    </div>
    
    <!-- Loading indicator -->
    <div *ngIf="loading" class="loading-container">
        <div class="progress-bar">
            <div class="progress-bar-value"></div>
        </div>
        <p class="loading-text">Loading employees...</p>
    </div>

    <button class="add-btn" (click)="onAddEmployee()" aria-label="Add Employee">
        <span class="add-icon">+</span> Add Employee
    </button>

    <!-- Employees table -->
    <table *ngIf="!loading && filteredEmployees.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Street</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of filteredEmployees">
                <td>{{employee.id}}</td>
                <td [innerHTML]="employee.firstName | highlight:nameFilter"></td>
                <td [innerHTML]="employee.lastName | highlight:nameFilter"></td>
                <td>{{employee.age}}</td>
                <td>{{employee.address.city}}</td>
                <td>{{employee.address.street}}</td>
                <td>{{employee.department | uppercase}}</td>
                <td class="actions">
                    <button class="edit-btn" (click)="onEditEmployee(employee)" aria-label="Edit">
                      <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16" style="vertical-align: middle; margin-right: 4px;"><path d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708l-9.439 9.439a.5.5 0 0 1-.168.11l-4 1.5a.5.5 0 0 1-.65-.65l1.5-4a.5.5 0 0 1 .11-.168l9.439-9.439zm.708-.708A1.5 1.5 0 0 0 12.146.146l-9.439 9.439a1.5 1.5 0 0 0-.33.495l-1.5 4A1.5 1.5 0 0 0 2.5 15.5l4-1.5a1.5 1.5 0 0 0 .495-.33l9.439-9.439a1.5 1.5 0 0 0 0-2.121l-2.292-2.292z"/></svg>
                      Edit
                    </button>
                    <button class="delete-btn" (click)="onDeleteEmployee(employee.id!)" aria-label="Delete">
                      <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16" style="vertical-align: middle; margin-right: 4px;"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5.5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6zm2 .5a.5.5 0 0 1 .5-.5.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6z"/><path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1 0-2h3.5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1zm-11 1v9a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4h-8zm3.5-2a.5.5 0 0 0-.5.5V3h4v-.5a.5.5 0 0 0-.5-.5h-3z"/></svg>
                      Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- No employees message -->
    <div *ngIf="!loading && filteredEmployees.length === 0" class="no-data">
        No employees found.
    </div>

    <!-- Edit Employee Modal -->
    <app-edit-employee-dialog
      *ngIf="editingEmployee"
      [employee]="editingEmployee"
      [allEmployeeIds]="allEmployeeIds"
      [isAdding]="isAdding"
      (save)="onDialogSave($event)"
      (cancel)="onDialogCancel()"
    ></app-edit-employee-dialog>

    
</div>
